html {
    background: aliceblue;
    font-family: 'Alef', sans-serif;
}

select, button {
    font-size: xx-large;
    font-family: 'Alef', sans-serif;
}

controlContainer {
    align: center;
}

h1 {
    text-shadow: 1px 1px 1px gray;
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

p {
    font-size: large;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in, background-color 0.2s ease-out;
}

a:hover {
    color: gray;
}

.controlKnob {
    margin: 1rem;
    display: inline-block;
    font-size: xx-large;
}

select {
  direction: rtl;
}

.template {
  width: 8rem;
}

ul {
  font-size: xx-large;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}