html {
    background: aliceblue;
    font-family: 'Alef', sans-serif;
}
body {
    justify-content: center;
    text-align: center;
}

select, button {
    font-size: xx-large;
    font-family: 'Alef', sans-serif;
}

h1 {
    text-shadow: 1px 1px 1px gray;
    font-size: 4rem;
    margin-bottom: 0;
}

p {
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in, background-color 0.2s ease-out;
}

a:hover {
    color: gray;
}

.controlKnob {
    margin: 1rem;
    display: inline-block;
    font-size: xx-large;
}

select {
  direction: rtl;
}

.template {
  width: 8rem;
}

table {
  font-size: x-large;
}

footer {
  bottom: 0;
  width: 100%;
}

.wordList {
  margin: auto;
}

.loader {
  visibility: hidden;
  margin: auto;
  border: 9px solid #dcdcdc;
  border-radius: 50%;
  border-top: 9px solid #3498db;
  width: 2rem;
  height: 2rem;
  -webkit-animation: spin 1.5s linear infinite; /* Safari */
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
