<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>לימות פתל</title>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WK2P4XBHDG"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WK2P4XBHDG');
    </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', path='limotFetel.js') }}"></script>
</head>
<body>
<div>
    <h1>
        Limot Fetel
    </h1>
    <p>Hebrew nonword generator</p>
    <div id="control" align="center" class="controlContainer">
        <div class="controlKnob">
        <select class="template" multiple disabled id="weights">
            {% for weight in weights %}
            <option>{{ weight }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="checkbox" id="weightsAll" checked><label>all</label>
        </div>
        <div class="controlKnob">
        <select class="template" multiple disabled id="templates">
            {% for template in templates %}
            <option>{{ template }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="checkbox" id="templatesAll" checked><label>all</label>
        </div>

        <br>
        <div class="controlKnob" dir="rtl">
        {% for root_letter in 'פעל' %}
        <label for="{{ root_letter }}">{{ root_letter }}:</label>
        <select name="{{ root_letter }}" id="{{ root_letter }}">
            <option value="">all</option>
            {% for letter in 'אבגדהוזחטיכלמנסעפצקרשת' %}
            <option value="{{ letter }}">{{ letter }}</option>
            {% endfor %}
        </select>
        {% endfor %}
        </div>
        <br>
            <button id="getWords">Get non-words</button>

    </div>
    <br>
    <div id="words" dir="rtl">
    <div class="loader"></div>
    <table id="templateNons" border="2px;" class="wordList">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
        <br>
    <table id="weightNons" border="2px;" class="wordList">
        <thead>
        </thead>
        <tbody>
    </tbody>
    </table>
    </div>
    <footer>
        <p><a href="https://www.ishefi.com" target="_blank">Itamar Shefi</a> 2023</p>
	<p style="font-size: small"><a href="mailto:limot.fetel@gmail.com" target="_blank">comments? suggestions?</a></p>
    </footer>
</div>
</body>
</html>
